<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="BUS1-API">
 <bookinfo>
  <title>The Internal BUS1 API</title>
 </bookinfo>

 <toc></toc>

 <chapter id="intro">
    <title>Introduction to the internal BUS1 API</title>

    <para>
      This documents the internal API used by the BUS1 kernel driver.
    </para>

 </chapter>

 <chapter id="peer">
    <title>BUS1 Peer</title>

!Iipc/bus1/peer.h
!Eipc/bus1/peer.c

 </chapter>

 <chapter id="message">
    <title>BUS1 Message</title>

!Iipc/bus1/message.h
!Eipc/bus1/message.c

 </chapter>

 <chapter id="transaction">
    <title>BUS1 Transaction</title>

!Iipc/bus1/transaction.h
!Eipc/bus1/transaction.c

 </chapter>

 <chapter id="handle">
    <title>BUS1 Handle</title>

!Iipc/bus1/handle.h
!Eipc/bus1/handle.c

 </chapter>

 <chapter id="user">
    <title>BUS1 User</title>

!Iipc/bus1/user.h
!Eipc/bus1/user.c

 </chapter>

 <chapter id="pool">
    <title>BUS1 Pool</title>

!Iipc/bus1/pool.h
!Eipc/bus1/pool.c

 </chapter>

 <chapter id="queue">
    <title>BUS1 Queue</title>

!Iipc/bus1/queue.h
!Eipc/bus1/queue.c

 </chapter>
</book>
<!-- vim:syntax=sgml:sw=4
-->
